<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BatchSQL.My.MySettings.DBConfig" connectionString="Data Source=(local);Initial Catalog=DBBARBYS;Persist Security Info=True;User ID=sa;Password=Ell1t3s3rv" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
