<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="default.html" />
        <add value="App.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".dxview" mimeType="text/html" />
    </staticContent>
  </system.webServer>
 
</configuration>